# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build folders
dist/
build/

# Optional: WhatsApp session data (si tu bot crea archivos de sesión)
*.json
*.db
